env
notebooks/data/cleaned_creditcard.csv
notebooks/data/creditcard.csv

artifacts/raw.csv
artifacts/test.csv
artifacts/train.csv
artifacts/transformed_data.csv

artifacts/model.pkl
artifacts/preprocessor.pkl

notebooks/filtered_data.csv
